@model SignupModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if(@ViewBag.Exist == true){
        <div id="user" style="color: red;"> This user already exist, please choose another username</div>
     }
 <div class="container vh-100 d-flex align-items-center justify-content-center">
     <form action="Signup" method="post">
          <div class="row gy-2 ">
            <div class="text-center my-2">
                <img height="150" src="~/eagle-flyer-low-resolution-logo-color-on-transparent-background.png" class=""
                    alt="" />
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                    <input type="text" id="form12" class="form-control" asp-for="FirstName" />
                    <label class="form-label" for="form12">First Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-outline">
                    <input type="text" id="form13" class="form-control" asp-for="LastName" />
                    <label class="form-label" for="form13">Last Name</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-outline">
                    <input type="text" id="form14" class="form-control" asp-for="UserName" />
                    <label class="form-label" for="form14">Username</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-outline">
                    <input type="text" id="form15" class="form-control" asp-for="Email" />
                    <label class="form-label" for="form15">Email</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-outline">
                    <input type="password" id="form16" class="form-control" asp-for="Password" />
                    <label class="form-label" for="form16">password</label>
                </div>
                <div class="d-flex justify-content-end py-1">
                    <button type="submit" class="btn btn-primary">Signup</button>
                </div>
            </div>
        </div>
     </form>
       
     
    </div>
    <script>
        

        window.addEventListener('DOMContentLoaded', function () {
            myModal.show();
        })
    </script>